$color-white: #ffffff;
$color-grey: #808080;
$color-dark-grey: #2D2D2D;
$color-light-grey: #F6F6F6;
$color-orange-juice: #FF6600;

$ff-inter: "Inter", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Arial", sans-serif;