.burger {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  position: relative;

  @include vp-1023 {
    display: flex;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 42px;
      height: 42px;
      transform: translate(-50%, -50%);
    }
  }
}