.link-back {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  outline: none;

  &:hover .link-back__text,
  &:focus-visible .link-back__text {
    color: $color-blue;
  }


  &__text {
    color: $color-suva-grey;
    transition: color $transition-300;
  }
}
