.custom-input {
  position: relative;
  $root: &;

  &--error {
    #{$root}__field {
      border-color: $color-your-pink;
    }

    #{$root}__error {
      display: block;
    }
  }

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: background-color $transition-300;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:hover,
    &:focus-visible {
      background-color: rgba($color-jaguar, .1);
    }
  }

  &__error {
    color: $color-sunset-orange;
    display: none;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    position: absolute;
    left: 12px;
    bottom: -16px;
  }
}