.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.social__link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #475009;
}